@mixin center($type: 'both') {
  display: flex;
  @if $type == 'justify'{
    justify-content: space-between;
    align-items: center;
  } @else if $type == 'align'{
    align-items: center;
  } @else if $type == 'both'{
    align-items: center;
    justify-content: center;
  }
  
}

@mixin background-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}